*/.venv*
.aider*


# Logs
./Smart_Health/logs
./Smart_Health/*.log
./Smart_Health/npm-debug.log*
./Smart_Health/yarn-debug.log*
./Smart_Health/yarn-error.log*
./Smart_Health/pnpm-debug.log*
./Smart_Health/lerna-debug.log*

./Smart_Health/node_modules
./Smart_Health/dist
./Smart_Health/dist-ssr
./Smart_Health/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.aider*
